<div class="container">
  <div class="row">
    <div class="col">
      <h2><strong>投稿削除確認</strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col" style="text-align: center;">
      <p><strong>本当に削除しますか？</strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col" style="text-align: center;">
      <div>
        投稿削除するとレシピ情報や</br>
        この投稿でのいいね機能やコメント機能の</br>
        ご利用ができなくなります。</br>
        削除する場合は、「削除する」をクリックしてください。
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <span>
        <%= link_to '削除しない', recipe_path(@recipe.id), class: "btn btn-sm btn-success" %>  <%= link_to "削除する", recipe_path(@recipe.id), method: :delete, data: { confilm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %>
      </span>
    </div>
  </div>
</div>
