<div style="text-align:center; padding-top: 10px;">
  <h2 style="margin-bottom: 30px;"><strong>About</strong></h2>
  <p style="margin-bottom: 50px;">
    作りたい料理のレシピを検索したり、ご自身が作った料理のレシピを投稿したりできるコミュニティサイトです。</br>
    初心者様からベテラン様まで誰でもお手軽に利用して頂けます。</br>
    ぜひ、ご利用ください。</br>
    〜料理で生活を豊かなものに〜
  </p>
  <div style="padding-bottom: 50px;">
    <%= image_tag '/no_image', size: "200x200" %>
  </div>
</div>
