<footer>
  <nav style="background-color: #FF8856;">
    <div class="containe">
      <div class="row">
        <div class="mx-auto">
          <p class = "text-white">CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </nav>
</footer>
